
/* banner css */
.header-img {
    display: grid;
    height: 100%;
    margin-bottom: 100px;
    max-height: 100%;
    max-width: 100%;
    min-height: 400px; 
/*  ^^ set this to the desire height in whatever unit px, etc. */
    background-image: url(../images/banner.jpg); 
/* ^^ check the path to the image, depends how you are serving your site*/
    background-size: cover;
    background-repeat: no-repeat;
}
/* menu css  */
.menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-color: rgb(32, 97, 12);
    overflow: hidden;
    position: sticky;
    top:0;
    
  }
  
   .menu a {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 18.9%; 
    text-align: center; 
  }
  
  
  .menu a:hover {
    background-color: #ffffff;
    color: rgb(138, 24, 24);
  }
  

  .menu a.active {
    background-color: #ffffff;
    color:rgb(32, 97, 12);
  }

  /* info */
  .content{
    padding-top: 45px;
  }
  