
/* banner css */
.header-img {
     display: grid;
    height: 100%;
    max-width: 100%;
    height: auto;
    min-height: 300px; 
    background-image: url(./images/banner.jpg) ;
    background-repeat: no-repeat; 
    background-size: contain;
    background-color: black;
    overflow: hidden;
background-position: center;
    
}
/* menu css  */
.menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-color: rgb(32, 97, 12);
    position: sticky; 
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
     }
  
   .menu a {
    display: inline-block;
    width: 20%; 
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center; 
     }
  
  
  .menu a:hover {
    background-color: #ffffff;
    color: rgb(138, 24, 24);
  }
  

  .menu a.active {
    background-color: #ffffff;
    color:rgb(32, 97, 12);
  }

  /* info */
  .content{
    padding-top: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.text-column{
  width: :50%;
}
  