
.menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-color: rgb(32, 97, 12);
    overflow: auto;
  }
  
   .menu a {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 18.95%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  
  .menu a:hover {
    background-color: #ffffff;
    color: rgb(138, 24, 24);
  }
  

  .menu a.active {
    background-color: #ffffff;
    color:rgb(32, 97, 12);
  }
  